.buscat{
  position: absolute;
  right: 2%;
}

body {
  background-repeat: no-repeat;
  background-image: url("../img/wall.jpg");
  background-size: 178%;
  background-attachment: fixed;
  background-position: center;
}

footer {
    background-color: grey;
    height: 25%;
    width: 100%;
}
